<section class="mt-5">
    <div class="container text-center">
        <div class="card home-card bg-dark">
            <div class="card-body p-5">
                <h2 class="p-3 card-title">Profile</h2>
                <div>
                    {{#if user.name}}
                        <p>Name: {{user.name}}</p>
                    {{else}}
                        <p>Name: Unknown</p>
                    {{/if}}
                </div>
                <div>
                    <p>Email: {{user.email}}</p>
                    <p>Sub: {{user.sub}}</p>
                    <p>Jwt: {{user.jwt}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
